Jinja2==2.11.2
-e git+https://github.com/gordonbrander/lettersmith_py@f55fc63660da59c0e76d0ddab23436439dfccdbf#egg=lettersmith
Markdown==2.6.11
MarkupSafe==1.1.1
py-gfm==0.1.4
python-frontmatter==0.5.0
PyYAML==5.3.1
six==1.15.0
