{% extends "_base.html" %}

{% block body %}
<!-- {{doc.meta.pdf }} -->

<article>
  {% if doc.meta.hexagram %}
  	<h1 class="hexagram">
      {{ doc.meta.hexagram }}
      <div class="namedesc" style="font-family: 'Open Sans'; font-size: 14px; text-align: left; color: #333; font-weight: 100; padding: 10px;">
        <div style="text-align: center;">
          <a href="{{ doc.meta.pdf }}" target="_new">{{ doc.meta.oldname }}</a> 
          {% if doc.meta.olddesc %}
            • {{ doc.meta.olddesc }}
          {% endif %}
        </div>
        <p>{{doc.meta.interpretation}}</p>
        <p>{{doc.meta.advice}}</p>
      </div>
    </h1>

    <h1 style="margin-bottom: 0;">{{ doc.meta.newdesc }}</h1>
    <h2 style="margin-top: 5px; margin-bottom: 0; color: #999;">{{ doc.meta.newname }}</h2>

    <div style="margin-top: 5px; color: #999;">
      {% if doc.meta.blue == 00 %}
        The world is new, 
      {% elif doc.meta.blue == 01 %}
        The world is falling, 
      {% elif doc.meta.blue == 10 %}
        The world is rising, 
      {% elif doc.meta.blue == 11 %}
        The world is full, 
      {% endif %}

      {% if doc.meta.green == 00 %}
        community is new, 
      {% elif doc.meta.green == 01 %}
        community is falling, 
      {% elif doc.meta.green == 10 %}
        commuinity is rising, 
      {% elif doc.meta.green == 11 %}
        community is full, 
      {% endif %}

      {% if doc.meta.red == 00 %}
        and self is new.
      {% elif doc.meta.red == 01 %}
        and self is falling. 
      {% elif doc.meta.red == 10 %}
        and self is rising. 
      {% elif doc.meta.red == 11 %}
        and self is full.
      {% endif %}
    </div>
    <div>{{doc.content}}</div>

  {% elif doc.meta.page == 'daily-note' %}
    <h1>{{ doc.meta.title }}</h1>
    <div>{{doc.content}}</div>

  {% else %}
    <h1>{{ doc.meta.title }}</h1>
    <div>{{doc.content}}</div>

  {% endif %}

  <div id="footer">
    <small>
      {% if doc.meta.transforms %}
        {% for link in doc.meta.transforms %}
          <a class="wikilink" href="{{base_url}}">{{link.title}}</a>
        {% endfor %}
      {% endif %}
    </small>
  </div>

<!--   <div id="footer">
	  <hr />
  	<small>Links: 
		  {% for link in doc.meta.backlinks %}
		    <a class="wikilink" href="{{base_url}}{{ to_url(link.output_path) }}">{{link.title}}</a><br>{#link.summary#}
		  {% endfor %}
 		</small>
  </div>
 --></article>
{% endblock %}
