body {
  font-family:"Open Sans", system-ui, sans-serif;
}

#main {
  max-width: 800px;
  margin: 5em auto 5em auto;
}

.sans-serif {
	font-family:"Open Sans"
}

h1, h2, .serif {
	font-weight: 400;
	font-family:"Fredoka One"
}